.form-div{
    margin-top: 40px;
    border: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 100px;
}
#profileDisplay{
    display: block;
    width: 60%;
    margin: 10px auto;
    border-radius: 50%;
}

