

/*///////////////////////////////////////////////////////////////////////*
/*slid show*/




/* css */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 275px;
  position:  fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(1, 65, 121);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  /* color: #f1f1f1; */
  color :  #9ab1c4;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 27px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}